body {
  background-color: burlywood;
  margin: 0 auto;
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} 

.slider-container {
  width: 100%;
  height: 100%;
  overflow: hidden; 
}

.slides {
display: block;
}

.slides img {
  width: 100%;
  display: none;
  transition: transform 3s ease-in;
}

.slides img.active {
display: block;
}

.slider button {
  margin: 20px;
  background-color: chocolate;
  cursor: pointer;
  border-radius: 50px;
  width: 100px;
  height: 50px;
}                                                 